

        body{
            background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1vdmllJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;

        }



        * {
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: rgba(73, 72, 72, 0.2);
            position: sticky;
            top: 0px;
            width: 100%;
            
        }

        nav ul {
            display: flex;
            gap: 80px;
            justify-content: space-around;
            padding: 10px;
            list-style: none;
        }

        ul li a {
            list-style: none;
            color: red;
        }

        ul li a:hover {
            color: rgb(235, 224, 236);



        }

        ul li a {
            text-decoration: none;
        }

        #choice {}

        .footer {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 20px;
            color: aliceblue;

        }

        .container {
            /* position: absolute; */
            left: 0;
            width: 100%;
            padding: 20px;

        }

        footer{
            width: 100%;
        }

        .card{
            background-color: rgb(41, 13, 13);
            color: aliceblue;
            /* margin: auto; */
            height: 60vh;
            width: 60vh;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            gap: 10px;
            margin-bottom: 20px;
        }

        img{
            display: block;
            height: 55%;
            width: 100%;
            object-fit: contain;
            /* object-position: center; */
        }

        .moviename:first-child{
            text-align: center;
        }

        .head{
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: rgb(255, 255, 255);
            justify-content: center;
            align-items: center;
        }

        a{
            color: aqua;
        }

        input{
            background-color: rgba(86, 77, 77, 0.539);
            padding: 10px 30px;
            border-radius: 10px;
            color: white;
            border: none;
            
        }

        input::placeholder{
            color: aliceblue;
        }

        button{
            padding: 6px 6px;
            margin-left: 20px;
            border-radius: 70px;
            background-color: rgba(0, 255, 255, 0.719);
            border: none;
        }

        button:hover{
            cursor: pointer;
            background-color: palevioletred;
        }

        main{
            flex: 1;
        }

        /* Add hover and transition to many other cards and also make it more asthetically pleasing and then we can work on getting to know apis more */

    